// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// @media (min-width: 48em) {
//   .container {
//     max-width: 46rem;
//   }
// }

.banner {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.order {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.radio, .checkbox {
  position: relative;
  display: block;
  // margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}

.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.inline-radio-btns {
  span.radio {
    display: inline-block;
    margin-left: 20px;
  }
}

.order {
  .row.radio-btns {
    span.radio {
      label {
        padding-left: 0px;
        img {
          display:block; width:100%
        }
        input {
          margin-left: 0px;
        }
        span.text {
          margin-left: 20px;
        }
      }
    }
  }
}

#feeback-form {
  .fields {
    margin-bottom: 10px;
  }
  .order_feedbacks_comment {
    margin-bottom: 0px;
    textarea {
      border-radius: 0.25em 0.25em 0 0;
    }
  }
  .bottom-bar {
    border-radius: 0 0 0.25em 0.25em;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 0px;
    background-color: rgba(206, 206, 206, 0.69);
    img {
      width: 100%;
    }
  }
}